@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stack+Sans+Notch:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Notch:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Stack+Sans+Headline:wght@200..700&family=Stack+Sans+Notch:wght@200..700&display=swap');

/* font-weight: 500;
font-size: 1.6; */

/* // <weight>: Use a value from 400 to 900
// <uniquifier>: Use a unique and descriptive class name */

.playfairdisplay  {
  font-family: "Playfair Display", serif;
  /* font-optical-sizing: auto; */
  /* font-weight: weight;
  font-style: normal; */
  background-color: #d0d4fa;
}


.pacificoRegular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}



.stack-sansnotchun {
  font-family: "Stack Sans Notch", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal; */
}


.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

